.homeContainer {
  display: grid;
  grid-template-rows: 300px auto;
  background-color: #f2f2f2;
  height: 100%;
}

.homeSlider {
  width: 100vw;
  background-color: #1a1717;
}

.movieContainer {
  margin: 50px 0 50px 0;
  /* width: 60%; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.movieList {
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.movieList > div {
  margin: 20px;
  cursor: pointer;
}

.sectionTitle {
  margin-left: 50px;
  font-weight: bold;
  font-size: 20px;
  color: #3f3f44;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start; */
}
@media screen and (max-width: 926px) {
  .movieList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .movieList {
    grid-template-columns: 1fr;
  }
}

.sliderContainer {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
}

.leftArrow {
}

.leftArrow {
  position: absolute;
  width: 100px;
  height: 70px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 10px 10px 0;
  color: #fff;
  z-index: 7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.rightArrow {
  position: absolute;
  width: 100px;
  height: 70px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0px 0px 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.sliderImgOne,
.sliderImgTwo,
.sliderImgThree {
  position: relative;
  left: 0;
  width: 100%;
  transition: left 1s;
}

/* .sliderImgOne > div,
.sliderImgTwo > div,
.sliderImgThree > div {
  width: 100%;
}
.slideRight {
  left: 1000px;
} */

/* .sliderContainer > div {
  width: 80%;
} */